.navbar{
    background-color:black;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}
.logo{
    color:rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 30px;
}
.navbarelements{
    margin-left: 50px;
    color: rgb(172, 165, 165);
}
.element{
    margin-left: 20px;
    cursor: pointer;
}
.element:hover{
    color: white;
    
}